In [ ]:
import numpy as np

In [ ]:
# 2739
# 구구단

x = int(input())

for i in range(1, 10):
    print(x, '*', i, '=', x*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 10950
# A+B - 3

x = int(input())
a = []
b = []
for i in range(x) :
    a1, b1 = map(int, input().split())
    a.append(a1)
    b.append(b1)

for i in range(x):
    print(a[i] + b[i])

5
1 1
1 2
1 3
1 5
1 9
2
3
4
6
10

In [1]:
# 8393
# 합

x = int(input())
i = 0

for i in range(x-1):
    i += 1
    x = i + x

print(x)

5
15

In [ ]:
# 15552
# 빠른 A+B
# 주피터 노트북에서는 stdin이 에러발생

import sys

T = int(input())

for i in range(T):
        a, b = map(int, sys.stdin.readline().split())
        print(a+b)

In [2]:
# 2741
# N 찍기

N = int(input())

for i in range(N):
    N -= N-i-1
    print(N)

5
1
2
3
4
5

In [3]:
# 2742
# 기찍 N

N = int(input())

for i  in range(N):
    N -= 1
    print(N+1)

5
5
4
3
2
1

In [5]:
# 11021
# A+B -7
# 띄어쓰기로 인해 오류

T = int(input())
a = []
for i in range(T):
    A, B = map(int, input().split())
    a.append(A + B)
for j in range(T):
    print("Case #",j+1,":",a[j])

5
1 1
2 3
3 4
9 8
5 2
Case # 1 : 2
Case # 2 : 5
Case # 3 : 7
Case # 4 : 17
Case # 5 : 7

In [6]:
# 11021

T = int(input())
a = []
for i in range(T):
    A, B = map(int, input().split())
    a.append(A + B)
for j in range(T):
    Case = f'Case #{j+1}: {a[j]}'
    print(Case)

5
1 1
2 3
3 4
9 8
5 2
Case #1: 2
Case #2: 5
Case #3: 7
Case #4: 17
Case #5: 7

In [7]:
# 11022
# A+B -8

T = int(input())
a = []
b = []
c = []
for i in range(T):
    A, B = map(int, input().split())
    a.append(A)
    b.append(B)
    c.append(A + B)
for j in range(T):
    Case = f'Case #{j+1}: {a[j]} + {b[j]} = {c[j]}'
    print(Case)

5
1 1
2 3
3 4
9 8
5 2
Case #1: 1 + 1 = 2
Case #2: 2 + 3 = 5
Case #3: 3 + 4 = 7
Case #4: 9 + 8 = 17
Case #5: 5 + 2 = 7

In [4]:
# 2438
# 별 찍기 - 1

N = int(input())

for i in range(N):
    for j in range(N):
        if i < j:
            print('',end='')
        else:
            print('*',end='')
    print()

5
*
**
***
****
*****

In [11]:
# 2439
# 별 찍기 - 2

N = int(input())

for i in range(N):
    for h in range(N-i-1):
        print(' ', end='')
    for j in range(i+1):
        print('*', end= '')
    print()

5
    *
   **
  ***
 ****
*****

In [43]:
# 10871
# X보다 작은 수
# 리스트 형태로 에러

A, B = map(int, input().split())
C = list(map(int, input().split()))
x = []
for i in range(A):
    if C[i] < B:
        x.append(C[i])   
print(x)

10 5
1 10 4 9 2 3 8 5 7 6
[1, 4, 2, 3]

In [44]:
A, B = map(int, input().split())
C = list(map(int, input().split()))
x = []
for i in range(A):
    if C[i] < B:
        x.append(str(C[i]))
print(' '.join(x))

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3