In [12]:
import numpy as np

In [108]:
# 1330
# 두 수 비교하기

x, y = map(int, input().split())
if x > y:
    print('>')
if x < y:
    print('<')
if x == y:
    print('==')

10 2
>

In [38]:
# 9498
# 시험 성적
x = int(input())
if x >= 90 and x <=100:
    print('A')
elif x >= 80 and x < 90:
    print('B')
elif x >=70 and x < 80:
    print('C')
elif x >=60 and x < 70:
    print('D')
else:
    print('F')

50
F

In [52]:
# 2753
# 윤년
x = int(input())
y = x % 400 == 0
if x % 4 == 0 and x % 100 != 0 or y:
    print('1')
else:
    print('0')

1800
0

In [ ]:
# 14681
# 사분면 고르기
x = int(input())
y = int(input())

if x > 0 and y > 0:
    print(1)
elif x < 0 and y > 0:
    print(2)
elif x < 0 and y < 0:
    print(3)
elif x > 0 and y < 0:
    print(4)

In [105]:
# 2884
# 알람 시계
h, m = map(int, input().split())

if h >= 1 and m >= 45:
    print(h, m - 45)
if h >= 1 and m < 45:
    print(h-1, m + 15)
if h == 0 and m >= 45:
    print(h, m - 45)
if h == 0 and m < 45:
    print(23, 60-(45-m))

0 10
23 25